[Unit]
Description=Provisioning D-Bus Service
After=xyz.openbmc_project.EntityManager.service
Requires=xyz.openbmc_project.EntityManager.service

[Service]
ExecStart=/usr/bin/provisioningd
Restart=always

[Install]
WantedBy=multi-user.target
